.searchPaper {
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.paginationContainer {
  padding: 1.5rem 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 600px) {
  .searchPaper {
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
  }

  .paginationContainer {
    padding: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 599px) {
  .searchPaper {
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
  }

  .paginationContainer {
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
